*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#main-head{
    display: flex;
    margin-left: 10%;
}
.sub-head{
    margin-top: 5%;
    width: 108%;

}
.img-width img{
    width: 53%;
    margin-left: 185px;
}
h1{
    font-size: 59px;
    color: black;
    font-weight: 500;
    /*border-left: 5px solid blue;*/
}
span{
    color:blue;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
}
p{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.btn{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: blue;
    color: black;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn:hover{
    color: blue;
    background-color: black;
}
.extra-p{
    color: black;
    font-weight: 400;
    margin-top: 30px;

}
.ex-h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}
.span{
    color: blue;
    font-weight: 600;
}
.box-area{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
}
.box-items-1{
    
    box-shadow: 10px 10px 15px gray;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
    color: black;
    background-color: #EDF5F6;

}
.box-items-2{
    box-shadow: 10px 10px 15px gray;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 25px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    background-color:#FFEEEE ;
}
.box-items-3{
    box-shadow: 10px 10px 15px gray;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 25px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    background-color:#FFF4D6 ;
}
.images-cls{
    width: 48%;
}
.step3{
    display: flex;
    background-image: url(images/illustrators/dream-bg.png);
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-bottom: 30px;
    
}
.step3-img img{
    margin-top: 5%;
    width: 53%;
    margin-left: 19%;
}
.Develop{
    width: 114%;
    margin-top: 3%;
    margin-right: 8%;
}
h2{
    font-size: 30px;
}
.step4{
    margin-left: 8%;
    display: flex;
    margin-bottom: 150px;
    margin-top: 10%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 245px;
    background-position: right;
}
div#img-width {
    margin-top: 5%;
}
.last-step{
    display: flex;
}
div#developer {
    margin-top: 3%;
}
.ftr{
    padding-top: 26px;
    background-color: black;
    color: blue;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 10px;
}
.pp{
    color: white;
}